<div class="gallery" itemscope>
  <div class="row">
    <% if (apiImages && apiImages.length > 0) { %>
      <% apiImages.forEach((image, index) => { %>
        <figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
          <a href="https://image.tmdb.org/t/p/original<%= image.file_path %>" itemprop="contentUrl" data-size="1920x1280">
            <img src="https://image.tmdb.org/t/p/w780<%= image.file_path %>" itemprop="thumbnail" alt="Movie Image <%= index + 1 %>" />
          </a>
          <figcaption itemprop="caption description">Image <%= index + 1 %></figcaption>
        </figure>
      <% }) %>
    <% } else { %>
      <p>No photos available for this movie.</p>
    <% } %>
  </div>
</div>
