<header class="header">
	<div class="header__wrap">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="header__content">
						<!-- logo -->
						<a href="/" class="header__logo">
							<img src="/front/img/logo.svg" alt="Flixify Logo">
						</a>
						<!-- end logo -->

						<!-- nav -->
						<ul class="header__nav">
							<li class="header__nav-item">
								<a href="/" class="header__nav-link">Home</a>
							</li>

							<li class="header__nav-item">
								<a href="/catalog" class="header__nav-link">Catalog</a>
							</li>

							<li class="header__nav-item">
								<a href="/about" class="header__nav-link">About</a>
							</li>

							<% if (!user) { %>
								<li class="header__nav-item">
									<a href="/signin" class="header__nav-link">Sign In</a>
								</li>
								<li class="header__nav-item">
									<a href="/signup" class="header__nav-link">Sign Up</a>
								</li>
							<% } %>
						</ul>
						<!-- end nav -->

						<!-- auth -->
						<div class="header__auth">
							<button class="header__search-btn" type="button">
								<i class="icon ion-ios-search"></i>
							</button>

							<% if (user) { %>
								<a href="/logout" class="header__sign-in" title="Logout">
									<i class="icon ion-ios-log-out"></i>
									<span>Sign Out</span>
								</a>
							<% } else { %>
								<a href="/signin" class="header__sign-in">
									<i class="icon ion-ios-log-in"></i>
									<span>Sign In</span>
								</a>
							<% } %>
						</div>
						<!-- end auth -->

						<!-- mobile menu btn -->
						<button class="header__btn" type="button">
							<span></span>
							<span></span>
							<span></span>
						</button>
						<!-- end menu btn -->
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- search -->
	<form action="/search" class="header__search">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="header__search-content">
						<input type="text" name="q" placeholder="Search for a movie, TV Series...">
						<button type="submit">Search</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	<!-- end search -->
</header>
