<style>
.dot-badge {
  width: 8px;
  height: 8px;
  background-color: #ff55a5;
  border-radius: 50%;
  display: inline-block;
  margin-left: 6px;
  animation: pulse 1.2s infinite;
}

@keyframes pulse {
  0% { opacity: 1; transform: scale(1); }
  50% { opacity: 0.6; transform: scale(1.2); }
  100% { opacity: 1; transform: scale(1); }
}


</style>
<header class="header">
	<div class="header__wrap">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="header__content">
						<!-- logo -->
						<a href="/" class="header__logo">
							<img src="/front/img/logo.svg" alt="Flixify Logo">
						</a>
						<!-- end logo -->

						<!-- nav -->
						<ul class="header__nav">
							<!-- Recently Added -->
		<li class="header__nav-item">
 <a href="/recently-added" class="header__nav-link">
   <span class="dot-badge"> </span> Recently Added</span>
</a>
</li>

							<!-- Movies -->
							<li class="header__nav-item dropdown">
								<a class="dropdown-toggle header__nav-link" href="#" data-toggle="dropdown">Movies&#9662;</a>
								<ul class="dropdown-menu header__dropdown-menu">
									<li><a href="/all-movies">All Movies</a></li>
									<li><a href="/movies-cartoon">Cartoon Movies</a></li>
									<li><a href="/movies-asian">Asian Movies</a></li>
									<li><a href="/movies-netflix">Netflix Movies</a></li>
									<li><a href="/movies-top-rated">Top Rated</a></li>
								</ul>
							</li>

							<!-- TV Shows -->
							<li class="header__nav-item dropdown">
								<a class="dropdown-toggle header__nav-link" href="#" data-toggle="dropdown">Series&#9662;</a>
								<ul class="dropdown-menu header__dropdown-menu">
									<li><a href="/tv">All Series</a></li>
									<li><a href="/tv/netflix">Netflix Series</a></li>
									<li><a href="/tv/top-rated">Top Rated</a></li>
								</ul>
							</li>

							<!-- Asian Section -->
							<li class="header__nav-item dropdown">
								<a class="dropdown-toggle header__nav-link" href="#" data-toggle="dropdown">Asian Section&#9662;</a>
								<ul class="dropdown-menu header__dropdown-menu">
									<li><a href="/asian/series">Asian Series</a></li>
									<li><a href="/asian/top-rated">Top Rated</a></li>
									<li><a href="/asian/netflix">Netflix</a></li>
								</ul>
							</li> 

							<!-- Anime -->
							<li class="header__nav-item dropdown">
								<a class="dropdown-toggle header__nav-link" href="#" data-toggle="dropdown">Anime&#9662;</a>
								<ul class="dropdown-menu header__dropdown-menu">
									<li><a href="/anime">All Anime</a></li>
									<li><a href="/anime/series">Anime Series</a></li>
									<li><a href="/anime/movies">Anime Movies</a></li>
									<li><a href="/anime/top-rated">Top Rated</a></li>
									<li><a href="/anime/netflix">Netflix</a></li>
								</ul>
							</li>
						</ul>
						<!-- end nav -->

						<!-- auth -->
						<div class="header__auth">
							<button class="header__search-btn" type="button">
								<i class="icon ion-ios-search"></i>
							</button>

							<% if (user) { %>
								<a href="/logout" class="header__sign-in" title="Logout">
									<i class="icon ion-ios-log-out"></i>
									<span>Sign Out</span>
								</a>
							<% } else { %>
								<a href="/signin" class="header__sign-in">
									<i class="icon ion-ios-log-in"></i>
									<span>Sign In</span>
								</a>
							<% } %>
						</div>
						<!-- end auth -->

						<!-- mobile menu btn -->
						<button class="header__btn" type="button">
							<span></span>
							<span></span>
							<span></span>
						</button>
						<!-- end menu btn -->
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- search -->
	<form action="/search" class="header__search">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="header__search-content">
						<input type="text" name="q" placeholder="Search for a movie, TV Series...">
						<button type="submit">Search</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	<!-- end search -->
</header>
